

/* large tablets to 1200px: 1024px-1200px */
@media only screen and (max-width: 1200px) {
    .header-text-box {
        width: 100%;
        padding: 0 2%;
    }    
    
    .row {
        padding: 0 2%;
    }

/* Small tablets to large tablets: 768px-1023px */
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
    
    section {
        padding: 55px 0;
    }
    
    .long-copy {
        width: 80%
        margin-left: 10%;
    }
    
    .logo {
        height: 110px;
        width: auto;
    }
    
    .box {
        padding: 2%;
    }
    
    .contact-form {
        width: 80%;
    }
}

/* Small phones to small tablets: 481px-767px */
@media only screen and (max-width: 767px) {
    body {
        font-size: 17px;
    }
    
    section {
        padding: 30px 0;
    }
    
    .header-text-box {
        padding: 0 4%;
    }
    
    .col { width: 100%; }
    
    .logo {
        height: 100px;
        width: auto;
    }
    
    h1 {
        font-size: 240%;
    }
    
    .main-nav { 
        display: none;
    }
    
    .footer-nav { 
        display: none;
    }
    
    .school-nav {
        margin-left: 40%;
    }
}

/* Small phones: 0px-480px */
@media only screen and (max-width: 480px) {
    body {
        font-size: 15px;
    }
        
    h1 {
        font-size: 200%;
        margin-top: 20px;
    }
    
    h2 {
        font-size: 150%;
    }
    
    section {
        padding: 20px 0;
    }
    
    .logo {
        height: 65px;
        width: auto;
    }
    
    .box {
        padding: 1%;
    }
    
    .contact-form {
        width: 100%;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
    font-size: 80%;
    }
    
    .main-nav { 
        display: none;
    }

    .footer-nav { 
        display: none;
    }   
    
    .school-nav {
        margin-left: 33%;
        margin-right: 33%;
    }
}
    
    /* Small heights: 0px-650px */
@media only screen and (max-height: 650px) {
    .header-text-box {
        width: 70%;
        padding: 0 2%;
    }    
    
    h1 {
        font-size: 200%;
        margin-bottom: 0;
        margin-top: 40px;
    }
    
    .logo {
        height: 65px;
        width: auto;
    }
}